<div id="footer">
  <div class="logo"><a href="#"><img src="https://ps-apps-assets.s3.amazonaws.com/power-of-place/logo.svg" alt="publicsource logo"></a></div>
  <span>Stories for a better Pittsburgh.<br>
  Get our stories by email.</span>
  <a style="font-weight: 600; text-decoration: none;" href="https://www.publicsource.org/newsletter-signup/"><button>SIGN UP</button></a>
</div>

<!-- This site is converting visitors into subscribers and customers with OptinMonster - https://optinmonster.com -->
<script type="text/javascript" src="https://a.omappapi.com/app/js/api.min.js" data-account="67775" data-user="60198" async></script>
<!-- / OptinMonster -->
