<div class="u-container">
  <div class="u-container-intro">
    <!-- <span>A new PublicSource series</span><br>
    <h1 class="type-it">The true cost of court debt</h1> -->
    <p>If the political climate of the United States is confusing for adults, imagine how staggeringly overwhelming it is for children.</p>

    <p>How exactly are local kids understanding this election? We asked them directly. Their answers were surprising — even to some of their parents, who we asked to interview their kids on how they are feeling. The children had a wide range of views and beliefs, and different levels of understanding about the platforms of President Donald Trump and former Vice President Joe Biden. We also spoke to their parents and several experts in the field to provide a window into how children are processing the 2020 election.</p>
  </div>
</div>
