<!doctype html>
<html lang="en-US">

<%= t.include("partials/_head.html") %>

<body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_top.html") %>

    <%= t.include("partials/_intro.html") %>

    <div class="u-container-text-no-color">
      <div class="subhed">
        <h2>Section header</h2>
      </div>
    </div>

    <div class="hero-image u-max-full-width">
      <img alt="" src="https://images.unsplash.com/photo-1564156280315-1d42b4651629?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2176&q=80" />
    </div>
    <div class="caption">
      <p>Blah blah</p>
    </div>

    <%= t.include("partials/_story.html", {'story': archieml.CovidBackToSchoolTemplate}) %>

    <div style="padding-bottom: 2em;"></div>

  <!-- Footer -->
  <%= t.include("partials/_footer.html") %>

  <script src="app.js" async></script>
  <%= t.include("partials/_analytics.html") %>
  </body>
</html>
